<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галактический Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="galaxy-container"></div>
    <div id="clock-container">
        <div id="time"></div>
        <div id="date"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{{ url_for('static', filename='galaxy.js') }}"></script>
    <script src="{{ url_for('static', filename='clock.js') }}"></script>
</body>
</html>